<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.smslider.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.smslider.js"></script>
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("/Content/smslider.css")
    @Styles.Render("/Content/EMCSS.css")
    @Styles.Render("/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body id="body">
    <div class="main">
        <div id="header">
            <div id="logo">
                <a href="#"><img src="~/Content/Images/logo.png" /></a>
            </div>
            <div class="cart">
                <i>Сейчас&nbspв&nbspвашей&nbspкорзине</i><br /><a href="#">0&nbspпокупок</a>
            </div>

            <form action="@Url.Action("Search")" method="post">
                <div class="search1">
                    <input name="searchword" maxlength="40" alt="Search" class="inputbox" type="text" size="40" value="search..." onblur="if(this.value=='') this.value='search...';" onfocus="if(this.value=='search...') this.value='';">
                    <input type="submit" value="Search" class="button1" onmouseover="this.style.background = 'url(/Content/images/button-search1.png)'" onmouseout="    this.style.background = 'url(../Content/images/button-search.png)'" onclick="    /*отправка данных для поиска*/this.form.searchword.focus();">
                </div>
            </form>

            <div id="topmenu">
                <ul class="menu-nav">
                    <li id="current" class="active">
                        <a href="#">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Товары
                        </a>
                    </li>
                    <li><a href="#">Новинки</a></li>
                    <li><a href="#">Графический поиск</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>

            </div>


        </div>
        <nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0px; font-size: 20px; font-family: font1; text-shadow: 0.5px 0px 4px #999999;">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Футболки</a></li>
                        <li><a style="padding: 15px 0px;">I</a></li>
                        <li><a href="#">Майки</a></li>
                        <li><a style="padding: 15px 0px">I</a></li>
                        <li><a href="#">Рубашки</a></li>
                        <li><a style="padding: 15px 0px">I</a></li>
                        <li><a href="#">Пиджаки</a></li>
                        <li><a style="padding: 15px 0px">I</a></li>
                        <li><a href="#">Поло</a></li>
                        <li><a style="padding: 15px 0px">I</a></li>
                        <li><a href="#">Жилеты</a></li>
                    </ul>
                </div>
                </div>
        </nav>

        @RenderBody()

       
        <div class="wrapper">
            <br /><br />
            <div id="footer">
                <div class="space">
                    <div class="footerText" style="color:#000000">
                        <ul class="menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Online Store</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">What's new?</a></li>
                            <li><a href="#">FAQS</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                        <div>Copyright © 2014 Men's Corporate Fashion. All Rights Reserved.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>
