@{
    string actionName = ViewContext.RouteData.Values["Action"].ToString();
    string controllerName = ViewContext.RouteData.Values["Controller"].ToString();
    string pageItem = controllerName + "\\" + actionName;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/Scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.smslider.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.smslider.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery-ui-1.10.3.min.js"></script>
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("/Content/smslider.css")
    @Styles.Render("/Content/EMCSS.css")
    @Styles.Render("/Content/bootstrap.css")

</head>
<body id="body">
    
    <a href="#" class="scrollup">Наверх</a>
    <div class="main">
        <div id="header">
            <div id="logo">
                <a href="@Url.Action("Index","Home")"><img src="~/Content/Images/logo.png" /></a>
            </div>
            <div class="cart">
                <i>Сейчас&nbspв&nbspвашей&nbspкорзине</i><br /><a href="@Url.Action("Busket", "Sales")">0&nbspпокупок</a>
            </div>
           
            <form action="@Url.Action("Search")" method="post">
                <div class="search1">
                    <input name="searchword" maxlength="40" alt="Search" class="inputbox" type="text" size="40" value="search..." onblur="if(this.value=='') this.value='search...';" onfocus="if(this.value=='search...') this.value='';">
                    <input type="submit" style="margin:0" value="Search" class="button" id="buttonSearch" onmouseover="this.style.background = 'url(/Content/images/button-search1.png)'" onmouseout="    this.style.background = 'url(../Content/images/button-search.png)'" onclick="    /*отправка данных для поиска*/this.form.searchword.focus();">
                </div>
            </form>

            <div id="topmenu">
                <ul class="menu-nav">
                    <li  @{Write(pageItem == "Home\\Index" ? "class=active" : "");}><a href="@Url.Action("Index","Home")">Главная</a></li>
                    <li @{Write(pageItem == "Home\\Goods" ? "class=active" : "" );}><a href="@Url.Action("Goods", "Home")"> Товары </a></li>
                    <li @{Write(pageItem == "Home\\NewGoods" ? "class=active" : "" );}><a href="@Url.Action("NewGoods", "Home")">Новинки</a></li>
                    <li @{Write(pageItem == "Home\\Graphical_Search" ? "class=active" : "");}><a href="@Url.Action("Graphical_Search", "Home")">Графический поиск</a></li>
                    <li @{Write(pageItem == "Home\\Delivery" ? "class=active" : "");}><a href="@Url.Action("Delivery", "Home")">Доставка</a></li>
                    <li @{Write(pageItem == "Home\\Contact" ? "class=active" : "" );}><a href="@Url.Action("Contact", "Home" )">Контакты</a></li>
                </ul>
            </div>


        </div>
        <nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0px; font-size: 20px; font-family: font1; text-shadow: 0.5px 0px 4px #999999;">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" style="padding:0px 4%">
                        <li @{Write(pageItem == "Home\\Tshirts" ? "class=active" : "");} style="padding: 0 7px"><a href="@Url.Action("Tshirts", "Home")">Футболки</a></li>
                        <li @{Write(pageItem == "Home\\Singlets" ? "class=active" : "");} style="padding: 0 7px"><a href="@Url.Action("Singlets", "Home")">Майки</a></li>
                        <li @{Write(pageItem == "Home\\Shirts" ? "class=active" : "");} style="padding: 0 7px"><a href="@Url.Action("Shirts", "Home")">Рубашки</a></li>
                        <li @{Write(pageItem == "Home\\Jumpers" ? "class=active" : "");} style="padding: 0 7px"><a href="@Url.Action("Jumpers", "Home")">Джемперы</a></li>
                        <li @{Write(pageItem == "Home\\Polos" ? "class=active" : "");} style="padding: 0 7px"><a href="@Url.Action("Polos", "Home")">Поло</a></li>
                        <li @{Write(pageItem == "Home\\Hoodies" ? "class=active" : "");} style="padding: 0 7px"><a href="@Url.Action("Hoodies", "Home")">Толстовки</a></li>
                    </ul>
                </div>
                </div>
        </nav>

        @RenderBody()

       
        <div class="wrapper">
            <br /><br />
            <div id="footer">
                <div class="space">
                    <div class="footerText" style="color:#000000">
                        <ul class="menu">
                            <li @{Write(pageItem == "Home\\Index" ? "class=active" : "");}><a href="@Url.Action("Index","Home")">Главная</a></li>
                            <li @{Write(pageItem == "Home\\Goods" ? "class=active" : "");}><a href="@Url.Action("Goods", "Home")"> Товары </a></li>
                            <li @{Write(pageItem == "Home\\NewGoods" ? "class=active" : "");}><a href="@Url.Action("NewGoods", "Home")">Новинки</a></li>
                            <li @{Write(pageItem == "Home\\Graphical_Search" ? "class=active" : "");}><a href="@Url.Action("Graphical_Search", "Home")">Графический поиск</a></li>
                            <li @{Write(pageItem == "Home\\Delivery" ? "class=active" : "");}><a href="@Url.Action("Delivery", "Home")">Доставка</a></li>
                            <li @{Write(pageItem == "Home\\Contact" ? "class=active" : "");}><a href="@Url.Action("Contact", "Home" )">Контакты</a></li>

                        </ul>
                        <div>Copyright © 2014 Men's Corporate Fashion. All Rights Reserved.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {

        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });

        $('.scrollup').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });

    });
</script>