@model EasyMarket.Models.RegistrationModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация</h2>
<hr />
@if (ViewBag.Autorized == false)
{ 
using (Html.BeginForm("Registration", "Accounts", FormMethod.Post))
{   @Html.AntiForgeryToken()           
    @Html.ValidationSummary(true)
    
    <fieldset style="text-align: center; width: 500px; border: 2px solid #e9e9e9; background-color: #f8f8f8; margin: auto; color: black; ">

        <div class="categoryRegistration">
            Пожалуйста, заполните форму регистрации:
        </div>
        <br />
        <br /><br />

        @Html.LabelFor(m => m.email, new { @style = "color: #353535; margin-top:5px" })
        @if (ViewBag.error != "")
        {
            <p style="color: #a92b2b; width: 500px; padding:0px; margin:0px; margin-bottom:-30px !important ">@ViewBag.error</p>
        }
        <br />
        @Html.TextBoxFor(m => m.email, new { @class = "txb" })<br />
        @Html.ValidationMessageFor(model => model.email)
        <br />
        @Html.LabelFor(m => m.name, new { @style = "color: #353535" })
        <br />
        @Html.TextBoxFor(m => m.name, new { @class = "txb" })<br />
        @Html.ValidationMessageFor(model => model.name)
        <br />
        @Html.LabelFor(m => m.surname, new { @style = "color: #353535" })
        <br />
        @Html.TextBoxFor(m => m.surname, new { @class = "txb" })<br />
        @Html.ValidationMessageFor(model => model.surname)
        <br />
        @Html.LabelFor(m => m.password, new { @style = "color: #353535" })
        <br />
        @Html.PasswordFor(m => m.password, new { @class = "txb" })<br />
        @Html.ValidationMessageFor(model => model.password)
        <p style="font-size: 12px; margin-bottom: 20px;">(Как минимум 6 символов)</p>
        @Html.LabelFor(m => m.confirmPassword, new { @style = "color: #353535" })
        <br />
        @Html.PasswordFor(m => m.confirmPassword, new { @class = "txb" })<br />
        @Html.ValidationMessageFor(model => model.confirmPassword)
        <br />
        @Html.LabelFor(m => m.address, new { @style = "color: #353535" })
        <br />
        @Html.TextBoxFor(m => m.address, new { @class = "txb" })<br />
        @Html.ValidationMessageFor(model => model.address)
        <br />
        @Html.LabelFor(m => m.phone, new { @style = "color: #353535" })
        <br />
        @Html.TextBoxFor(m => m.phone, new { @class = "txb" })<br />
        @Html.ValidationMessageFor(model => model.phone)
        <br />
        <br />
     
    </fieldset>
                 <div style="margin:auto; margin-top: 15px;">
                     <button type="submit" class="button" style="float:none; margin-left:350px" id="buttonRegistration">Register</button>
             </div>
    }
}
@if (ViewBag.Autorized == true)
    {
        <p style="color: #db0000; font-size:20px; text-align:center; padding:0px; margin:0px !important ">Извините, вы уже авторизированы!</p>
    }
         

