<div style="border-bottom: 1px solid #eaeaea; color: black; font-family: font4; font-size: 20px; text-decoration: none; padding-left: 15px; ">
    Бренд
    <div style="margin-bottom:10px">
        <input id="tomtailor" type="checkbox" name="first" style="margin-top:10px;" />
        @Html.Label("Tom Tailor", new { @style = "display:inline;  width: 50px; " })</br>
        <input id="barbour" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Barbour", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="broadway" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Broadway", new { @style = "display:inline;  width: 50px; " })</br>
        <input id="jack&jones" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Jack & Jones", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="japanrags" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Japan Rags", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="mavi" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Mavi", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="mustangjeans" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Mustang jeans", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="noexcess" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("No Excess", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="petrolindustries" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Petrol Industries", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="scotch&soda" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Scotch & Soda", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="tomtailordenim" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("TOM TAILOR Denim", new { @style = "display:inline;  width: 50px;" })</br>

    </div>
</div>
<div style="border-bottom: 1px solid #eaeaea; color: black; font-family: font4; font-size: 20px; text-decoration: none; padding-left: 15px; ">
    Цена
    </br>
       <label>От</label>
        <input type="text" id="minCost" value="0" style="width: 40px; text-align: center; color: red; margin-left: 5px; margin-right: 10px; margin-bottom: 15px;" /> 
    <label>до</label>
    <input type="text" id="maxCost" value="5000" style="width: 40px; text-align: center; color: red; margin-left: 5px; margin-right: 10px; margin-bottom: 15px; "  />

        <div id="slider" style="width: 90%; margin-left: 10px;   margin-bottom: 15px; "></div>
    
</div>
<div style="border-bottom: 1px solid #eaeaea; color: black; font-family: font4; font-size: 20px; text-decoration: none; padding-left: 15px; ">
    Цвет
    <div style="margin-bottom:10px">
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px;" />
        @Html.Label("Красный", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Оранжевый", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Желтый", new { @style = "display:inline;  width: 50px; " })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Зеленый", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Голубой", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Синий", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Фиолетовый", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Белый", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Черный", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("Коричневый", new { @style = "display:inline;  width: 50px;" })</br>

    </div>
</div>
<div style="border-bottom: 1px solid #eaeaea; color: black; font-family: font4; font-size: 20px; text-decoration: none; padding-left: 15px; ">
    Размер
    <div style="margin-bottom:10px">
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("L", new { @style = "display:inline;  width: 50px; " })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("M", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("S", new { @style = "display:inline;  width: 50px; " })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("XL", new { @style = "display:inline;  width: 50px;" })</br>
        <input id="cfirst" type="checkbox" name="first" style="margin-top:10px" />
        @Html.Label("XXL", new { @style = "display:inline;  width: 50px;" })</br>

    </div>
</div>
   
<link rel="stylesheet" href="/Content/StyleSheet1.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">


<script type="text/javascript" src="/Content/Scripts/JavaScript1.js"></script>

<script type="text/javascript" src="/Content/Scripts/JavaScript1.js"></script>

<script type="text/javascript">


    jQuery("#slider").slider({

        min: 0,

        max: 5000,

        values: [0, 5000],

        range: true,

        stop: function (event, ui) {

            jQuery("input#minCost").val(jQuery("#slider").slider("values", 0));

            jQuery("input#maxCost").val(jQuery("#slider").slider("values", 1));

        },

        slide: function (event, ui) {

            jQuery("input#minCost").val(jQuery("#slider").slider("values", 0));

            jQuery("input#maxCost").val(jQuery("#slider").slider("values", 1));

        }

    });
    jQuery("input#minCost").change(function () {
        var value1 = jQuery("input#minCost").val();
        var value2 = jQuery("input#maxCost").val();

        if (parseInt(value1) > parseInt(value2)) {
            value1 = value2;
            jQuery("input#minCost").val(value1);
        }
        jQuery("#slider").slider("values", 0, value1);
    });


    jQuery("input#maxCost").change(function () {
        var value1 = jQuery("input#minCost").val();
        var value2 = jQuery("input#maxCost").val();

        if (value2 > 1000) { value2 = 1000; jQuery("input#maxCost").val(1000) }

        if (parseInt(value1) > parseInt(value2)) {
            value2 = value1;
            jQuery("input#maxCost").val(value2);
        }
        jQuery("#slider").slider("values", 1, value2);
    });
</script>

<style type="text/css">
    /* Ширина слайдера */
    #slider {
        width: 200px;
    }
    /* Контейнер слайдера */
    .ui-slider {
        position: relative;
    }
        /* Ползунок */
        .ui-slider .ui-slider-handle {
            position: absolute;
            z-index: 2;
            width: 13px; /* Задаем нужную ширину */
            height: 13px; /* и высоту */
            background: url(../img/slider.png) no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
            cursor: pointer;
        }

        .ui-slider .ui-slider-range {
            position: absolute;
            z-index: 1;
            font-size: .7em;
            display: block;
            border: 0;
            overflow: hidden;
        }
    /* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
    .ui-slider-horizontal {
        height: 3px; /* задаем высоту согласно дизайна */
    }
        /* позиционируем ползунки */
        .ui-slider-horizontal .ui-slider-handle {
            top: -5px;
            margin-left: -6px;
        }

        .ui-slider-horizontal .ui-slider-range {
            top: 0;
            height: 100%;
        }

        .ui-slider-horizontal .ui-slider-range-min {
            left: 0;
        }

        .ui-slider-horizontal .ui-slider-range-max {
            right: 0;
        }
    /* оформление полосы по которой ходит ползунок */
    .ui-widget-content {
        border: 1px solid #D4D4D4;
        background: #fff;
    }
    /* оформление активного участка (между двумя ползунками) */
    .ui-widget-header {
        border: 1px solid #D4D4D4;
        background: #f00;
    }
    /* скругление для полосы слайдера */
    .ui-corner-all {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
</style>