@using EasyMarket.Models
@model List<EasyMarket.Models.ItemInfo>

<div id="cloud" style="color:white; padding-top:30px; border-radius: 10px; width: 200px; height: 80px; opacity: 0; position: fixed; display: block; top: 20px; right: 18px; z-index:1000;  text-align:center; background: black;">Товар добавлен в <a style="color: white" href="@Url.Action("Busket", "Sales")">корзину</a>!</div>
<div>
    @model List<EasyMarket.Models.ItemInfo>
   
        @foreach (ItemInfo item in Model)
{
<link rel="stylesheet" type="text/css" href="/Content/GoodsPartial.css"/>
    <div class="boxgrid captionfull" style="width: 31%; height: 300px; float: left; margin-top:10px; margin-right:7px; margin-left:7px; border: 1px solid lightgray; text-align: center">
        <a href="#">
            <img src="@item.Images.FirstOrDefault().image1" style="width: 100%; height: 100%; padding-left: 0px;" />
        </a>
        <div class="cover boxcaption">
            <a href="#" style="color: black; font-family: font4; font-size: 16px; text-decoration: none; ">@item.Item.name</a>
            <b style="color: red; font-family: font4; font-size: 26px; text-decoration: none; text-align: left; float: left;margin-right:20px;margin-left:25px">@item.Item.prise грн.</b>
            <div style="width:100%">
                <a class="a_demo_four"></a>
            </div>
        </div>
    </div>
    <input class="buttonOK" id="@item.Item.id_item" style="float:left; width:50px; background-color:black; display:inline !important" type="submit">
    <input class="" id="@item.Item.id_item" value="@item.Item.id_item" type="hidden" />
}
    </div>
  <script type="text/javascript">
    $(document).ready(function () {
        //Full Caption Sliding (Hidden to Visible)
        //Vertical Sliding

        $('.boxgrid.captionfull').hover(function () {
            $(".cover", this).stop().animate({ top: '230px' }, { queue: false, duration: 160 });
        }, function () {
            $(".cover", this).stop().animate({ top: '330px' }, { queue: false, duration: 160 });
        });

    });
    
    
    
    
<script type="text/javascript">
        $('.buttonOK').click(function (e) {
            e.preventDefault();
            var itemId = $(this).attr('id');

            $.ajax({
                url: "@Url.Action("addBusket", "Sales")",
                type: 'POST',
                contentType: "application/json, utf-8",
                data: JSON.stringify({ itemId : itemId })
            })
                       .done(function (result) {
                               
                           $("#cloud").animate({ opacity: '0.7' }, 500);
                           $("#cloud").delay(1200).animate({opacity: '0'}, 600);
                           
                           $('#messageText').css('display', 'none');
                           
                        })
        });
               
    </script>