@using EasyMarket.Models;
@{
    ViewBag.Title = "Товары";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float: left; width: 72%;  border-top:none;  margin-right:0px; ">

    <div class="categoryGoods">Категории</div>
    <div style="margin:auto; border: 2px solid #e8e8e8;">

    <div style="width: 100%;   margin-top: 45px ">
        <div style="width: 30%; float: left; border: 1px solid LightGray; ">
            <a title="Футболки" href="@Url.Action("Tshirts", "Home")" style="color: black; font-family: font4; font-size: 20px;text-decoration:none">
                <img src="/Content/Images/Goods/Tshirts/futbolka-tom-tailor-dlya-muzhchin-sinego-tsveta-tt1222222058.jpg" alt="Футболки" border="0" style="width: 90%; height:50%; padding-left: 20px" /><br /><br />
                <p style="text-align:center">Футболки</p>
            </a>
        </div>
        <div style=" width: 30%; float: right; border: 1px solid LightGray">
            <a title="Рубашки" href="@Url.Action("Singlets", "Home")" style="color: black; font-family: font4; font-size: 20px;text-decoration:none">
                <img src="/Content/Images/Goods/Shirts/rubashka-petrol-industries-dlya-muzhchin-krasnogo-tsveta-pi120148.jpg" alt="Рубашки" border="0" style="width: 90%; height:50%; padding-left: 20px" /><br /><br />
                <p style="text-align:center">Рубашки</p>
            </a>
        </div>

        <div style="margin: 0 200px 0 223px;width:30%; border: 1px solid LightGray">
            <a title="Майки" href="@Url.Action("Shirts", "Home")" style="color: black; font-family: font4; font-size: 20px;text-decoration:none">
                <img src="~/Content/Images/Goods/Singlets/mayka-petrol-industries-dlya-muzhchin-zelenogo-tsveta-pi12220161.jpg" alt="Майки" border="0" style="width: 90%; height:50%; padding-left: 20px" /><br /><br />
                <p style="text-align:center">Майки</p>
            </a>
        </div>
    </div>



    <div style="width: 100%; margin-top: 20px;">
        <div style=" width: 30%; float: left; border: 1px solid LightGray">
            <a title="Джемперы" href="@Url.Action("Jumpers", "Home")" style="color: black; font-family: font4; font-size: 20px;text-decoration:none">
                <img src="~/Content/Images/Goods/Jumpers/dzhemper-tom-tailor-denim-dlya-muzhchin-sinego-tsveta-tt122147483650.jpg" alt="Джемперы" border="0" style="width: 90%; height:50%; padding-left: 20px" /><br /><br />
                <p style="text-align:center">Джемперы</p>
            </a>
        </div>




        <div style=" width: 30%; float: right; border: 1px solid LightGray">
            <a title="Толстовки" href="@Url.Action("Polos", "Home")" style="color: black; font-family: font4; font-size: 20px;text-decoration:none">

                <img src="~/Content/Images/Goods/Hoodies/tolstovka-tom-tailor-dlya-muzhchin-sinego-tsveta-tt122023.jpg" alt="Толстовки" border="0" style="width: 90%; height:50%; padding-left: 20px" /><br /><br />
                <p style="text-align:center">Толстовки</p>
            </a>
        </div>

       

        <div style=" margin: 0 200px 0 223px;width:30%; border: 1px solid LightGray">
            <a title="Поло" href="@Url.Action("Hoodies", "Home")" style="color: black; font-family: font4; font-size: 20px;text-decoration:none">
                <img src="~/Content/Images/Goods/Polos/muzhskoe-krasnoe-polo-jack-and-jones-jj-12076497-flame-scarlet-melange.jpg" alt="Поло" border="0" style="width: 90%; height:50%; padding-left: 20px" /><br /><br />
                <p style="text-align:center">Поло</p>
            </a>
        </div>
    </div>
        </div>
</div>
@Html.Partial("AutorizationPartial")
@Html.Partial("GoodsPartial")