@using System.Web.Security;
@using System.Web;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web.Mvc;
@using EasyMarket.Models;
@using System.Web.UI;
@using EasyMarket.Classes;
@{
    ViewBag.Title = "Home Page";
}

<div class="SliderBox" style="margin-bottom:25px">
    <div class="slider">
        <div id="sm_slider1">
            <ul>
                <li> <img src="/Content/Images/slide1.jpg" /></li>
                <li>p2</li>
                <li>p3</li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <img src="../Content/images/img1.jpg" />
    </div>
    <div class="banner">
        <img src="../Content/images/img2.jpg" />
    </div>
    <br>
    <div class="banner">
        <img src="../Content/images/img3.jpg" />
    </div>
    <div class="banner">
        <img src="../Content/images/img4.jpg" />
    </div>
</div>
<div style="float: left; width: 640px; margin-right:4px; position:relative; margin-top:10px; margin-top:2px;">
    <div class="categoryGoods" style="width:100%; margin-top:0px">
        Популярные продукты
    </div>
    <div>
        <div id="sm_slider" style="position: relative; margin-top:6%">
            <ul>
                <li>p1</li>
                <li>p2</li>
                <li>p3</li>
                <li>p4</li>
            </ul>
        </div>
    </div>
    </div>
    @Html.Partial("AutorizationPartial")
    @*@if (ViewBag.Autorized)
        {
            <div class="log_in">
                <div class="userBox">

                    <h4 style ="word-wrap: break-word; width:200px"> Здравствуйте, @Html.ActionLink(CurrentUser.GetCurrentUserName(Request.Cookies[FormsAuthentication.FormsCookieName]), "UserPage", "Accounts")!</h4>
                    <p style="font-size:14px; word-wrap: break-word; width:200px"><i> Ваша скидка составляет: 0%</i></p>
                    <p style="text-align:justify; font-size: 14px;  word-wrap: break-word; padding-left:10px; width: 190px"> &nbsp&nbsp&nbsp&nbspПреобретайте больше товаров, чтобы увеличить её!</p>
                    <div style="width:200px; padding-left:70px"><div onmouseover="this.style.background = 'url(/Content/images/button-logout1.png)'" onmouseout="    this.style.background = 'url(../Content/images/button-logout.png)'">@Html.ActionLink("Выход", "LogOut", "Home", new { @class="button", @id="b3" })</div></div>


                </div>
            </div>
        }*@

    @*@if (!ViewBag.Autorized){
        {
            <div class="log_in">
                <div class="loginBox">

                                @using (Html.BeginForm("Autorization", "Home"))
                    {
                                <a name="autorization"></a>

                                @Html.LabelFor(models => models.email, new { @class = "label1" })
                                @Html.TextBoxFor(models => models.email, new { @Style = "width: 200px; height: 30px; font-size: 16px; margin: -10px 0px 5px; !important;" })
                                @Html.LabelFor(models => models.password, new { @class = "label1" })
                                @Html.PasswordFor(models => models.password, new { @Style = "width: 200px; height: 30px; font-size: 16px; margin: -10px 0px 10px; !important" })
                                <p style="color: #a92b2b; width: 200px; padding:0px; margin:0px !important ">@ViewBag.errMessage </p>
                                <input name="login" class="button" id="bLogin" style="float:left; display:inline !important" onmouseover="this.style.background = 'url(/Content/images/button-login1.png)'" onmouseout="    this.style.background = 'url(../Content/images/button-login.png)'" onclick="    /*отправка данных для поиска*/this.form.searchword.focus();" type="submit">
                                @Html.CheckBoxFor(models => models.rememberme, new { @style = "display:inline; float:left; width: 15px; margin-left:5px; margin-top:9px !important" })
                                @Html.Label("Запомнить", new { @style = "display:inline; float:left; width: 20px; margin-left:5px; margin-top:8px !important" })
                                @Html.ActionLink("Регистрация", "Registration", "Accounts", null, new { @class="button", @id="buttonRegistration" })
                                }
        </div>
            </div>
        }
        }*@

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:400px; margin-top:170px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Регистрация прошла успешно!</h4>
                </div>
                <div class="modal-body" style="text-align:center">
                    Поздравляем! Вы зарегистрированы! <br />Пожалуйста, <a id="close" style="color:#db1919" href="#autorization">авторизируйтесь</a>!
                </div>
                <button type="button" style="padding:0px; margin:0px; margin-left:140px" class="button" id="buttonOK" data-dismiss="modal">ОК</button>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @if (ViewBag.modal == true)
    {
    <script>
 $(document).ready(function () {
     $('#myModal').modal('show')
 }) </script>
    }
    else
    {
        <script>
 $(document).ready(function () {
     $('#myModal').modal('hide')
 }) </script>
    }
    <script>

        $('#close').click(function () {
            $('#myModal').modal('hide')
        })


        $(document).ready(function () {
            $('#sm_slider').smSlider()
        })
        $(document).ready(function () {
            $('#sm_slider1').smSlider1()
        })
        //$(document).ready(function () {
        //    $("#b3").mouseover(function(){
        //        $(this).style.background = 'url(/Content/images/button-login1.png)';
        //    })
        //})
        //$(document).ready(function () {
        //    $("#b3").mouseout(function () {
        //        $(this).style.background = 'url(/Content/images/button-login.png)';
        //    })
        //})
        //$(document).ready(function () {
        //    $(".button3").hover(function () {
        //        $(this).animate({opacity:.5}, 1000, "linear", function(){
        //            $(this).css("backgroundImage", "url(/Content/images/button-logout1.png)");
        //            $(this).animate({ opacity: 1 }, 1000);
        //        })
        //    })
        //});
        //    $(".button3").mouseout(function () {
        //        $(this).animate({opacity:.5}, 2000, "linear", function(){
        //            $(this).css("backgroundImage", "url(/Content/images/button-logout.png)");
        //            $(this).animate({ opacity: 1 }, 1000);
        //        })
        //    $(this).stop().animate($(this).css("background-image", "url(/Content/images/button-logout1.png)"), 8000);
        //}, function () {
        //    $(this).stop().animate($(this).css("background-image", "url(/Content/images/button-logout.png)"), 8000);
        //});

    </script>


