@using System.Web.Security;
@using System.Web;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web.Mvc;
@using EasyMarket.Models;
@using System.Web.UI;
@{
    ViewBag.Title = "Home Page";
}
@model EasyMarket.Models.User
<div class="box1">
    <div class="slider">
        <div id="sm_slider1">
            <ul>
                <li> <img src="/Content/Images/slide1.jpg" /></li>
                <li>p2</li>
                <li>p3</li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <img src="../Content/images/img1.jpg" />
    </div>
    <div class="banner">
        <img src="../Content/images/img2.jpg" />
    </div>
    <br>
    <div class="banner">
        <img src="../Content/images/img3.jpg" />
    </div>
    <div class="banner">
        <img src="../Content/images/img4.jpg" />
    </div>
</div>

<div class="category1">
    Популярные продукты
</div>

<div class="category2">
        Вход
    </div>
<div style="float: left;">
    <div id="sm_slider">
        <ul>
            <li>p1</li>
            <li>p2</li>
            <li>p3</li>
            <li>p4</li>
        </ul>
    </div>
</div>
@if (ViewBag.Autorized)
{
    <div class="log_in">
        <div class="box2">

            Здравствуйте, Пользователь!
            @Html.ActionLink("Выход", "LogOut", "Home", new { @class = "button2" })
          
            
        </div>
    </div>
}
@if (!ViewBag.Autorized)
{
    <div class="log_in">
        <div class="box2">

            @using (Html.BeginForm("Autorization", "Home"))
            {

                @Html.LabelFor(models => models.email, new { @class = "label1" })
                @Html.TextBoxFor(models => models.email, new { @Style = "width: 200px; height: 30px; font-size: 16px; margin: -10px 0px 5px; !important;" })
                @Html.LabelFor(models => models.password, new { @class = "label1" })
                @Html.PasswordFor(models => models.password, new { @Style = "width: 200px; height: 30px; font-size: 16px; margin: -10px 0px 10px; !important" })
                <input name="login" class="button2" style="float:left;" onmouseover="this.style.background = 'url(/Content/images/button-login1.png)'" onmouseout="    this.style.background = 'url(../Content/images/button-login.png)'" onclick="    /*отправка данных для поиска*/this.form.searchword.focus();" type="submit"></input>
                 @Html.CheckBoxFor(models => models.rememberme, new { @style = "float:left; width: 15px; margin-left:5px; margin-top:6px" })
                 @Html.Label("Запомнить", new { @style = "float:left; width: 20px; margin-left:5px; margin-top:5px" })
            }
        </div>
    </div>
}
<script>

    $(document).ready(function () {
        $('#sm_slider').smSlider()
    })
    $(document).ready(function () {
        $('#sm_slider1').smSlider1()
    })
</script>


